<!-- 
<section>
  <div class="vert-text">
    <h1>{{ '{' }}contact{{ '}' }}<span>me</span></h1>
  </div>

  <div class="social-btns">
    <a class="btn facebook" href="#"><i class="fa fa-facebook"></i></a
    ><a class="btn twitter" href="#"><i class="fa fa-twitter"></i></a
    ><a class="btn linkedin" href="#"><i class="fa fa-linkedin"></i></a
    ><a class="btn snapchat" href="#"><i class="fa fa-snapchat"></i></a
    ><a class="btn instagram" href="#"><i class="fa fa-instagram"></i></a
    ><a class="btn github" href="#"><i class="fa fa-github"></i></a>
  </div>
</section> -->
<section fxLayout="column" fxLayoutAlign="space-around center">
  <h1>{{ '{' }}contact{{ '}' }}<span>me</span></h1>
  <div id="socialGallery">
    <div class="social-btns">
      <a
        class="btn facebook mat-elevation-z24"
        href="https://www.facebook.com/chris.you.3194"
        ><i class="fa fa-facebook"></i></a
      ><a
        class="btn twitter mat-elevation-z24"
        href="https://twitter.com/hellochrisyou"
        ><i class="fa fa-twitter"></i></a
      ><a
        class="btn linkedin mat-elevation-z24"
        href="https://www.linkedin.com/in/chris-you-8227b610/"
        ><i class="fa fa-linkedin"></i></a
      ><a
        class="btn snapchat mat-elevation-z24"
        href="https://www.snapchat.com/add/rustysatone"
        ><i class="fa fa-snapchat"></i></a
      ><a
        class="btn instagram mat-elevation-z24"
        href="https://www.instagram.com/hellochrisyou/"
        ><i class="fa fa-instagram"></i></a
      ><a
        class="btn github mat-elevation-z24"
        href="https://www.github.com/hellochrisyou"
        ><i class="fa fa-github"></i
      ></a>
    </div>
  </div>
</section>
