<div class="header">
  <div class="halo"></div>
  <div>
    <span class="intro intro--the">Work</span>
    <span class="intro intro--num mat-elevation-z24">and</span>
    <span class="intro">Education</span>
  </div>
  <div class="vintage__container">
    <p class="vintage vintage__top">Experience</p>
    <p class="vintage vintage__bot">Experience</p>
  </div>
  <div>
    <span class="outro">An</span>
    <span class="outro outro--big"><i>accumulation</i></span>
    <span class="outro">of</span>
    <span class="outro outro--big">perspiration</span>
  </div>

  <body>
    <section class="timeline">
      <div class="wrapper">
        <section class="mat-elevation-z24">
          <time>2019</time>
          <h3>Base2Technologies</h3>
          <h4>Full-Stack Developer</h4>
          <p class="description" style="text-align: left">
            <br /><u>Application Development:</u>
            <br />
            <i>Java, Spring, Hibernate, Wicket, Tomcat, Eclipse</i>

            <br /><br />
            <u>QA testing</u> <br />
          </p>
          <img
            class="mat-elevation-z24"
            src="../../assets/img/education/base2tech.png"
          />
        </section>

        <section class="mat-elevation-z24">
          <time>2018</time>
          <h3>A I N S</h3>
          <h4>Software Engineer</h4>
          <p class="description" style="text-align: left">
            <br /><u>Application Development</u>
            <br />
            <i>C#, Asp.net (SOAP), Sql Server, Windows Forms</i>
            <br /><u>Requirements gathering</u> <br /><u>Unit Testing</u>
            <br /><u>Misc.</u>
            <i>Crystal Reports, Excel</i>
          </p>
          <img
            class="mat-elevation-z24"
            style="min-width:100%"
            src="../../assets/img/education/ains.png"
          />
        </section>

        <section class="mat-elevation-z24">
          <time>2017</time>
          <h3>Wayne State University</h3>
          <h4>B.S. Computer Science</h4>
          <p class="description" style="text-align: left">
            <br /><u>Experience</u>
            <br />
            <i
              >C++, C, C#, Linux, HTML/CSS, Xamarin, Sql Server, MySql, Asp.net,
              Entity Framework, S3FS, AWS S3</i
            >
          </p>
          <img
            class="mat-elevation-z24"
            src="../../assets/img/education/education-wayne.jpg"
            style="height:200px;width:325px"
          />
        </section>
        <section class="mat-elevation-z24">
          <time>2014</time>
          <h3>Aspen Music Festival</h3>
          <h4>Fellow</h4>
          <p class="description indent">
            <br />
            Located in Aspen, Colorado, AMF offers musicians the opportunity to
            work and perform with world-class musicians all over the world.
            Clarinet faculty include Joaquin Valdepenas (Toronto Symphony), Bil
            Jackson (Colorado Symphony), and Burt Hara (L.A. Philarmonic).
          </p>
          <img
            class="mat-elevation-z24"
            src="../../assets/img/education/education-aspen.png"
            style="height:175px;width:325px"
          />
        </section>
        <section class="mat-elevation-z24">
          <time>2010</time>
          <h3>Mannes College for Music</h3>
          <h4>M.M. Clarinet Performance</h4>
          <p class="description">
            <u>Studies</u> Orchestra, Music Theory, Music History, Symphonic
            Literature. <br /><u>Teacher</u>- Steve Williamson (Metropolitan
            Opera/Chicago Symphony)
          </p>
          <img
            class="mat-elevation-z24"
            src="../../assets/img/education/education-mannes.jpg"
            style="height:175px;width:325px"
          />
        </section>
        <section class="mat-elevation-z24">
          <time>2005</time>
          <h3>Cleveland Institute of Music</h3>
          <h4>B.M. Clarinet Performance</h4>
          <p class="description">
            <br />
            <u>Studies</u>Orchestra, Conducting, Music Theory, Music History,
            Form and Analysis, Counterpoint, Symphonic Literature, Jazz and
            American Popular Music. <br /><u>Teacher</u>- Dan Gilbert (Cleveland
            Orchestra)
          </p>
          <img
            class="mat-elevation-z24"
            src="../../assets/img/education/education-cim.png"
            style="height:300px;width:325px"
          />
        </section>
        <section class="mat-elevation-z24">
          <time>2000</time>
          <h3>National Symphony Orchestra</h3>
          <h4>Fellow</h4>
          <p class="description indent">
            <br />
            For dedicated music students interested in pursuing orchestral music
            as a career. Musicians are provided with resources directly from the
            National Symphony located in Washington D.C. to further their
            studies in their musical careers.
          </p>
          <img
            class="mat-elevation-z24"
            src="../../assets/img/education/education-fellowship.jpg"
            style="height:275x;width:325px"
          />
        </section>
      </div>
    </section>
  </body>
</div>
