<body>
  <div class="banner" fxLayout="row" fxLayoutAlign="center center">
    <section class="text" fxLayout="column" fxLayoutAlign="center center">
      <h3>From Colleagues to Coworkers</h3>
      <h1>
        <span class="fontawesome-star star">Testimonies</span>
        <span class="fontawesome-star star"></span>
      </h1>
    </section>
  </div>
  <section>
    <input checked type="radio" name="slider" id="slide1" />
    <input type="radio" name="slider" id="slide2" />
    <input type="radio" name="slider" id="slide3" />
    <input type="radio" name="slider" id="slide4" />
    <input type="radio" name="slider" id="slide5" />

    <div class="slider-wrapper">
      <div class="inner">
        <article>
          <div class="box-container">
            <figure class="snip1197 mat-elevation-z24">
              <figcaption fxLayout="column" fxLayoutAlign="space-around start">
                <blockquote class="other-quote">
                  &nbsp; &nbsp; It is very easy to quickly feel comfortable
                  working with Chris' charming personality. He is very
                  passionate and persistent with programming is always curious
                  to find an answer to any question. His quench for success will
                  bring him his ultimate prize.<br />
                </blockquote>
                <cite
                  ><span>Sang Cho</span><br />
                  AINS<br />
                  Full-Stack Developer</cite
                >
              </figcaption>
              <img
                src="../../assets/img/testimony/Testimony-Sang.png"
                alt="sq-sample33"
              />
            </figure>
          </div>
        </article>
        <article>
          <div
            class="box-container"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <figure class="snip1197 mat-elevation-z24">
              <figcaption fxLayout="column" fxLayoutAlign="space-around start">
                <blockquote>
                  &nbsp; Chris You is organized, punctual, and goal-oriented.
                  With that mindset, his collective talents make him a
                  substantial addition to any team he joins.<br />
                </blockquote>
                <cite
                  ><span>Eric Blakey</span><br />
                  LG<br />
                  Validation Engineer</cite
                >
              </figcaption>
              <img
                src="../../assets/img/testimony/Testimony-Eric.png"
                alt="sq-sample33"
              />
            </figure>
          </div>
        </article>
        <article>
          <div
            class="box-container"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <figure class="snip1197 mat-elevation-z24">
              <figcaption fxLayout="column" fxLayoutAlign="space-around start">
                <blockquote>
                  &nbsp; &nbsp; Chris proved to be one of the hardest working
                  student in my class. He took advantage of office hours and
                  excelled on a demanding and lengthy final project. His
                  greatest quality of all is ability to survive under times of
                  stress.<br />
                </blockquote>
                <cite
                  ><span>David Warnke</span><br />
                  SoarTech<br />
                  Software Engineer</cite
                >
              </figcaption>
              <img
                src="../../assets/img/testimony/Testimony-David.png"
                alt="sq-sample33"
              />
            </figure>
          </div>
        </article>
        <article>
          <div
            class="box-container"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <figure class="snip1197 mat-elevation-z24">
              <figcaption fxLayout="column" fxLayoutAlign="space-around start">
                <blockquote>
                  &nbsp; &nbsp; Chris has an incredible thirst for knowledge and
                  drive to be successful. He's always willing to ask questions,
                  communicate concerns and collaborate on difficult concepts.
                  Chris never shys away from a challenge and has a promising
                  career ahead of him.<br />
                </blockquote>
                <cite
                  ><span>Caleb Latimer</span><br />
                  RevSpring<br />
                  Software Engineer</cite
                >
              </figcaption>
              <img
                src="../../assets/img/testimony/Testimony-Caleb.png"
                alt="sq-sample33"
              />
            </figure>
          </div>
        </article>
        <article>
          <div
            class="box-container"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <figure class="snip1197 mat-elevation-z24">
              <figcaption fxLayout="column" fxLayoutAlign="space-around start">
                <blockquote>
                  &nbsp; &nbsp; Watching Chris grow as a programmer while we
                  worked together at AINS has been very inspiring. His curiosity
                  is one notable chacteristic that will go a long way in the
                  field of IT. I feel very privilged to have been his mentor.<br />
                </blockquote>
                <cite
                  ><span>Max Brinegar</span><br />
                  Amazon<br />
                  Cloud Engineer</cite
                >
              </figcaption>
              <img
                src="../../assets/img/testimony/Testimony-Max.png"
                alt="sq-sample33"
              />
            </figure>
          </div>
        </article>
      </div>
      <!-- .inner -->

      <div class="slider-dot-control">
        <label class="mat-elevation-z5" for="slide1"></label>
        <label class="mat-elevation-z5" for="slide2"></label>
        <label class="mat-elevation-z5" for="slide3"></label>
        <label class="mat-elevation-z5" for="slide4"></label>
        <label class="mat-elevation-z5" for="slide5"></label>
      </div>
      <!-- .slider-dot-control -->
    </div>
    <!-- .slider-wrapper -->
  </section>
</body>
