main {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 100%;
  min-width: 100vw;
}

:host ::ng-deep .mat-tab-list .mat-ink-bar {
  margin-bottom: 0.4rem;
  z-index: 10001;
  width: fit-content;
  background-color: #1e1e1e;
}

/* :host ::ng-deep .mat-tab-body-wrapper {} */

:host ::ng-deep .mat-tab-label .mat-tab-label-content {
  cursor: pointer;
}
:host ::ng-deep .mat-tab-label .mat-tab-label-content:hover {
  color: goldenrod;
  font-weight: 900;
}
:host ::ng-deep .mat-tab-header-pagination .mat-tab-header-pagination-chevron {
  border-color: #1e1e1e;
  height: 1rem;
  width: 1rem;
}
:host ::ng-deep .mat-tab-header-pagination {
  box-shadow: none;
  padding-top: 1rem;
}
mat-tab-group {
  position: relative;
}

:host ::ng-deep .mat-tab-group .mat-tab-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.icon {
  height: 3vh;
  width: 3vh;
  margin: 0 0.2rem 0 0;
}

:host ::ng-deep .mat-tab-header,
:host ::ng-deep .mat-tab-label-container,
:host ::ng-deep .mat-tab-list,
:host ::ng-deep .mat-tab-label,
mat-tab-group,
:host ::ng-deep .mat-tab-labels {
  background-color: #e4e1d7;
  min-height: 8vh;
  z-index: 10000;
  border: 0;
}
:host ::ng-deep .mat-tab-label {
  font-weight: 700;
  font-size: 0.6rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  color: #1e1e1e;
  opacity: 1;
}

.tab-icon {
  margin: 0 0.4rem;
  color: #1e1e1e;
}

@media only screen and (max-width: 481px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.18rem;
  }
  .tab-icon {
    margin: 0;
    display: none;
  }
  :host ::ng-deep .mat-tab-label {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 481px) and (min-height: 700px) and (max-height: 900px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.195rem;
  }
}
@media only screen and (min-width: 482px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.25rem;
    bottom: 0.7rem;
  }
  :host ::ng-deep .mat-tab-label {
    font-size: 1rem;
    width: initial;
    max-width: initial;
  }
}
@media only screen and (min-width: 769px) {
  :host ::ng-deep .mat-tab-label {
    font-size: 0.5rem;
    max-width: 15vw;
    min-width: initial;
  }
  :host
    ::ng-deep
    .mat-tab-header-pagination
    .mat-tab-header-pagination-chevron {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  :host ::ng-deep .mat-tab-label {
    font-size: 0.75rem;
  }
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.1.85rem;
    bottom: 0.5rem;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 850px) and (max-height: 1100px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    bottom: 1.2rem;
  }
}
@media only screen and (min-width: 1400px) {
  :host ::ng-deep .mat-tab-label {
    font-size: 1rem;
  }
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    bottom: 0.5rem;
  }
}
@media only screen and (min-width: 1900px) {
  :host ::ng-deep .mat-tab-label {
    max-width: 20vw;
  }
}
@media only screen and (min-width: 1900px) {
  :host ::ng-deep .mat-tab-label {
    font-size: 1.5rem;
    min-width: 10vw;
  }
}
@media only screen and (min-width: 2100px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.375rem;
  }
  :host ::ng-deep .mat-tab-label {
    font-size: 1.85rem;
  }
  :host ::ng-deep .mat-tab-group .mat-tab-header {
    min-height: 8.5vh;
  }
}
@media only screen and (min-width: 2100px) and (min-height: 1200px) {
  :host ::ng-deep .mat-tab-group .mat-tab-header {
    min-height: 7vh;
  }
}
@media only screen and (min-width: 2100px) and (min-height: 1100px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    bottom: 1vh;
  }
  :host ::ng-deep .mat-tab-label {
    font-size: 2rem;
  }
}
