<div class="banner">
  <div
    class="container upper"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="5vh"
  >
    <div
      class="circle embossed"
      div
      fxLayout="column"
      fxLayoutAlign="center stretch"
    >
      <a
        class="btn text-center embossedtext resume-title"
        href="Javascript:void(0)"
        style="color:rgba(255, 255, 255, 0.7);padding:0;margin:auto"
      >
        Curriculum<br /><span></span>vitae
      </a>
    </div>

    <div class="content embossed">
      <p class="embossedtext">
        A word of advice: your interview is about you. It's not about the school
        you went to, what you majored in, what your GPA was, or who your parents
        happen to be or know. Most of that stuff is right on your resume, and it
        might even have gotten you into the room, but it won't get you much
        farther.
      </p>
    </div>
  </div>

  <div class="container text-center margin-center">
    <div class="container">
      <figure class="snip1104">
        <img
          src="../../assets/img/resume/ChrisYouResume2019-1.png"
          class="mat-elevation-z5"
          alt="page1"
        />
      </figure>
    </div>
    <div class="container">
      <figure class="snip1104">
        <img
          src="../../assets/img/resume/ChrisYouResume2019-2.png"
          class="mat-elevation-z5"
          alt="page2"
        />
      </figure>
    </div>
  </div>
</div>
