<div
  class="container"
  fxLayout.gt-sm="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-evenly center"
>
  <div class="profile-img mat-elevation-z24">
    <i class="fas fa-home">Home</i>
    <div
      class="bg-wrapper"
      style="background-image: url('../../../assets/img/bg/profile-pic.jpg')"
    >
      <img src="../../../assets/img/bg/profile-pic.jpg" />
    </div>
  </div>
  <div class="text">
    <h1>Chris You</h1>
    <h3>Software Engineer</h3>
    <p>Passionate and driven to succeed</p>
  </div>
</div>
